body{ margin:0 auto; width: 80%;}

table {
  background-color: #f1dac2;
  width: 100%;
}

.div1 {
  width: 40%;
  float: left;
  background-color: #d2e9e6;
  margin: 2% 2%;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px black;

}
.div2 {
  float: left;
  width: 40%;
  margin: 2% 2%;
  padding: 10px 10px;
  background-color: #dfe3ee;
  border-radius: 10px;
  box-shadow: 0 0 1px black;
}

p{
  float: left;
  margin-left: 20%;
}

.div2:hover{
  background-color: #8b9dc3;

}

.div1:hover{
  background-color: #99cda9;
}

div:hover {
  box-shadow: inset 0 0 3px #000000;
}

#myInput {
  background-image: url('search-icon.png');
  background-size: 20px auto;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

img {
  width: 30%;
  height: auto;
  float: left;
  border-radius: 5%;
}
